<form [formGroup]="songFormGroup" (ngSubmit)="onSubmit()">
<div *ngIf="song || data.id === 0">
  <h4 mat-dialog-title class="Title text-center">{{title}}</h4>
  <mat-dialog-content>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="row m-2">
                <div class="col-6">
                  <label for="songName">Song Name :</label>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="songName" class="form-control">
                </div>
              </div>
              <div class="row m-2">
                <div class="col-6">
                  <label for="songURL">Song Youtube URL :</label>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="songURL" class="form-control">
                </div>
              </div>
              <div class="row m-2">
                <div class="col-6">
                  <label for="groupName">Group Name :</label>
                </div>
                <div class="col-6">
                  <input type="text" formControlName="groupName" readonly class="form-control">
                </div>
              </div>
          </div>
        </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary">Submit</button>
    <button mat-raised-button color="accent"  mat-dialog-close mat-dialog-close="cancel" (click)="onNoClick()"><mat-icon fontIcon="cancel"></mat-icon>Cancel</button>
  </mat-dialog-actions>
  </div>
</form>
